@model TaskHNG.Models.UserLogin

@{
    ViewBag.Title = "Login |team Elite";
}

<h2>Login</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row" style="margin-top:20px">
            <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                <form role="form">
                    <fieldset>
                        <h2>Login</h2>
                        <div class="form-horizontal">
                        <hr class="colorgraph">
                        <div class="form-group">
                             @Html.LabelFor(model => model.EmailId, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.EmailId, new { htmlAttributes = new { @class = "form-control input-lg", @placeholder = "Email Address" } })
                                <span style="font-size:12px;">@Html.ValidationMessageFor(model => model.EmailId, "", new { @class = "text-danger" })</span>
</div>
                            @*<input type="email" name="email" id="email" class="form-control input-lg" placeholder="Email Address">*@
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control input-lg", @placeholder ="Password" } })
                                <span style="font-size:12px;">@Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })</span>
                            </div>
                            @*<input type="password" name="password" id="password" class="form-control input-lg" placeholder ="Password">*@
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.RememberMe, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-5">
                                <div class="checkbox">
                                    @Html.EditorFor(model => model.RememberMe, new { htmlAttributes = new { @class = "input-lg" } })
                                    @Html.ValidationMessageFor(model => model.RememberMe, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <a href="" class="btn btn-link pull-right">Forgot Password?</a>
                        </div>
                        <hr class="colorgraph">
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <input type="submit" class="btn btn-lg btn-success btn-block" value="Login">
                            </div>
                            <div  class="col-xs-6 col-sm-6 col-md-6">
                                    
                                        @Html.ActionLink("Register", "Registration", "User", new {style = "color: white", @class = "btn btn-lg btn-primary btn-block" })
                                
                            </div>
                        </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>

    </div>

    @*<div class="form-horizontal">
        <h4>UserLogin</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.EmailId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EmailId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EmailId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RememberMe, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.RememberMe)
                    @Html.ValidationMessageFor(model => model.RememberMe, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>*@
}



@section Scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}

